<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mi.test.mypiece"
    android:versionCode="16"
    android:versionName="3.5">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <permission
        android:name="com.mi.mypiece.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mi.mypiece.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />




    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ls" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->


    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" /> -->


    <!-- beacon start -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- parse -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.mi.mypiece.permission.C2D_MESSAGE" />

    <permission
        android:name="com.mi.mypiece.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- parse end -->
    <!-- beacon end -->
    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_mypiece"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme"
        android:vmSafeMode="true"
        tools:node="merge"
        android:name="android.support.multidex.MultiDexApplication">

        <uses-library android:name="com.google.android.maps" />

        <!-- <meta-data -->
        <!-- android:name="com.crashlytics.ApiKey" -->
        <!-- android:value="63f74c24dae344771ad971b3e888d7fbc1a199cc" /> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.mi.activities.Dashboard"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mi.activities.MyAccount"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mi.activities.SplashScreenActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.mi.activities.Login_activity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD23ljHJKU2LVhEPSYN0t7_ogWE7kC73J8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mi.activities.TourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.ProceedCheckout"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.DealActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.TermsCondition"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.PaymentScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.MapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.AddCreditCard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.mi.activities.My_PurchaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.RedeemDeal"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mi.activities.GetinTouchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.mi.activities.ForgotPassword"
            android:screenOrientation="portrait"/>
        
        <service android:name="com.mi.activities.MyFirebaseListnerService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>

        </service>

        <service android:name="com.mi.activities.MyFirebaseIDListenerService">

            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>

        </service>



    </application>

</manifest>